@model TblUser


<form class="max-w-sm mx-auto" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="mb-5">
        <label asp-for="UserId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
        <input readonly asp-for="UserId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Role Id" required />
        <span asp-validation-for="UserId" class="text-red-800"></span>
    </div>
    <div class="mb-5">
        <label asp-for="UserName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
        <input asp-for="UserName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Role Name" required />
        <span asp-validation-for="UserName" class="text-red-800"></span>
    </div>
    <div class="mb-5">
        <label asp-for="UserEmail" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
        <input asp-for="UserEmail" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Role Description" required />
        <span asp-validation-for="UserEmail" class="text-red-800"></span>
    </div>
    <div class="mb-5">
        <label asp-for="UserPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
        <input asp-for="UserPassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Role Description" required />
        <span asp-validation-for="UserPassword" class="text-red-800"></span>
    </div>
    <div class="mb-5">
        <img src="~/images/@Model.UserProfilePicture" />
    </div>
    <div class="mb-5">
        <label asp-for="UserContactNo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
        <input asp-for="UserContactNo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Role Description" required />
        <span asp-validation-for="UserContactNo" class="text-red-800"></span>
    </div>
    <div class="flex justify-between items-center">
        <a class="underline" asp-action="Index">Back To List</a>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Update User</button>
    </div>
</form>
